@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap';
* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  max-width: 1920px;
  width: 100%;
  margin: auto; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%; }

.btn {
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent));
  background-image: -webkit-linear-gradient(transparent);
  background-image: -o-linear-gradient(transparent);
  background-image: linear-gradient(transparent);
  cursor: pointer; }

#headerNews {
  position: -webkit-sticky;
  position: sticky;
  width: 20%;
  max-width: 320px;
  overflow-y: auto; }
  #headerNews::-webkit-scrollbar {
    display: none; }
  #headerNews > .container-row {
    padding: 6px  4px 3px;
    background: #707070; }
    #headerNews > .container-row h3 {
      background: #F30D31;
      border-radius: 2px;
      color: white;
      font-size: 12px;
      font-family: "Roboto Condensed", sans-serif;
      font-weight: 600;
      text-align: center;
      padding: 5px; }
    #headerNews > .container-row #news-block > .box {
      padding: 3px 2px 10px;
      border-top: 2px solid #777D83; }
      #headerNews > .container-row #news-block > .box:first-of-type {
        border-top: 0;
        margin-top: 10px; }
      #headerNews > .container-row #news-block > .box a.news-card {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        width: 100%; }
        #headerNews > .container-row #news-block > .box a.news-card > .news-img {
          margin-right: 5px;
          width: 70px;
          height: 70px;
          -webkit-transition: .25s;
          -o-transition: .25s;
          transition: .25s;
          overflow: hidden;
          position: relative; }
          #headerNews > .container-row #news-block > .box a.news-card > .news-img > img {
            -webkit-transition: .5s;
            -o-transition: .5s;
            transition: .5s;
            width: 100%;
            height: 100%; }
          #headerNews > .container-row #news-block > .box a.news-card > .news-img:before {
            content: '';
            width: 150%;
            height: 150%;
            position: absolute;
            -webkit-transition: .5s;
            -o-transition: .5s;
            transition: .5s;
            top: 150%;
            left: 0;
            z-index: 2;
            background: rgba(243, 13, 49, 0.2); }
          #headerNews > .container-row #news-block > .box a.news-card > .news-img:after {
            content: '';
            width: 150%;
            height: 150%;
            position: absolute;
            background: rgba(42, 183, 0, 0.2);
            -webkit-transition: .5s;
            -o-transition: .5s;
            transition: .5s;
            bottom: 150%;
            left: 0;
            z-index: 3; }
        #headerNews > .container-row #news-block > .box a.news-card > .news-card-body {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          width: 100%; }
          #headerNews > .container-row #news-block > .box a.news-card > .news-card-body > .news-header {
            font-size: 14px;
            color: #D9DBDE;
            font-family: "Roboto Condensed", sans-serif;
            font-weight: normal;
            -webkit-transition: .25s;
            -o-transition: .25s;
            transition: .25s; }
          #headerNews > .container-row #news-block > .box a.news-card > .news-card-body > .news-date {
            font-size: 12px;
            color: #BEC1C4;
            font-family: "Roboto Condensed", sans-serif;
            font-weight: normal;
            text-align: right; }
        #headerNews > .container-row #news-block > .box a.news-card:hover > .news-img > img {
          -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
          transform: scale(1.1); }
        #headerNews > .container-row #news-block > .box a.news-card:hover > .news-img:before {
          top: 0%; }
        #headerNews > .container-row #news-block > .box a.news-card:hover > .news-img:after {
          bottom: 0%; }
        #headerNews > .container-row #news-block > .box a.news-card:hover .news-header {
          color: white  !important;
          text-decoration: underline; }

#successForecasts {
  position: -webkit-sticky;
  position: sticky;
  width: 20%;
  max-width: 384px;
  overflow-y: auto; }
  #successForecasts::-webkit-scrollbar {
    display: none; }
  #successForecasts > .container-row {
    background: #ACAFB2;
    padding: 4px; }
    #successForecasts > .container-row #successForecastsDescript .col-data {
      width: 100%; }
      #successForecasts > .container-row #successForecastsDescript .col-data ul.row {
        -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.06);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.06);
        background: white;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch; }
        #successForecasts > .container-row #successForecastsDescript .col-data ul.row > li {
          width: 33.33%;
          max-width: 124px; }
          #successForecasts > .container-row #successForecastsDescript .col-data ul.row > li > a {
            padding: 14px 0 12px;
            display: block;
            height: 100%;
            text-align: center;
            color: #808080;
            font-size: 18px;
            -webkit-transition: .3s background,  .25s border;
            -o-transition: .3s background,  .25s border;
            transition: .3s background,  .25s border;
            border-bottom: 2px solid transparent;
            font-family: "Roboto Condensed", sans-serif; }
            #successForecasts > .container-row #successForecastsDescript .col-data ul.row > li > a.active {
              font-weight: 600;
              color: #000000;
              border-bottom-color: #F30D31; }
            #successForecasts > .container-row #successForecastsDescript .col-data ul.row > li > a:hover {
              background: #F30D31;
              color: white;
              border-bottom-color: #F30D31;
              -webkit-transition: .4s border;
              -o-transition: .4s border;
              transition: .4s border;
              font-weight: 600; }
              #successForecasts > .container-row #successForecastsDescript .col-data ul.row > li > a:hover.active {
                background: white;
                color: #000000;
                border-bottom-color: #F30D31; }
          #successForecasts > .container-row #successForecastsDescript .col-data ul.row > li:nth-of-type(2) > a {
            position: relative; }
            #successForecasts > .container-row #successForecastsDescript .col-data ul.row > li:nth-of-type(2) > a:before, #successForecasts > .container-row #successForecastsDescript .col-data ul.row > li:nth-of-type(2) > a:after {
              content: '';
              width: 1px;
              height: 35%;
              background: rgba(98, 104, 111, 0.5);
              position: absolute;
              top: 32.5%; }
            #successForecasts > .container-row #successForecastsDescript .col-data ul.row > li:nth-of-type(2) > a:before {
              left: 0; }
            #successForecasts > .container-row #successForecastsDescript .col-data ul.row > li:nth-of-type(2) > a:after {
              right: 0; }
    #successForecasts > .container-row #successForecastsDescript .sucForecBox {
      background: white;
      border-radius: 4px;
      margin: 6px 0;
      overflow: hidden; }
      #successForecasts > .container-row #successForecastsDescript .sucForecBox > .defLig {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 4px 0 6px; }
        #successForecasts > .container-row #successForecastsDescript .sucForecBox > .defLig h6 {
          background: #2AB700;
          font-family: "Roboto Condensed", sans-serif;
          font-size: 10px;
          font-weight: 600;
          color: white;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          border-radius: 2px;
          padding: 3px 5px; }
          #successForecasts > .container-row #successForecastsDescript .sucForecBox > .defLig h6 > svg {
            margin-right: 5px; }
      #successForecasts > .container-row #successForecastsDescript .sucForecBox > .row {
        width: 100%;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center; }
        #successForecasts > .container-row #successForecastsDescript .sucForecBox > .row > .col-lig-forec > p {
          color: #000000;
          font-size: 14px;
          font-weight: normal;
          font-family: "Roboto Condensed", sans-serif;
          margin-top: 7px; }
        #successForecasts > .container-row #successForecastsDescript .sucForecBox > .row > .col-lig-forec.align-self-end {
          -ms-flex-item-align: end;
          align-self: flex-end; }
          #successForecasts > .container-row #successForecastsDescript .sucForecBox > .row > .col-lig-forec.align-self-end > h4 {
            color: #F30D31;
            font-size: 40px;
            font-weight: normal;
            font-family: "Roboto Condensed", sans-serif; }
      #successForecasts > .container-row #successForecastsDescript .sucForecBox > table {
        border-collapse: collapse;
        width: 100%;
        margin-top: 15px; }
        #successForecasts > .container-row #successForecastsDescript .sucForecBox > table th {
          background: #F30D31;
          border-radius: 2px 2px 0 0;
          color: white;
          font-size: 10px;
          font-weight: bold;
          font-family: "Roboto Condensed", sans-serif;
          padding: 5px; }
        #successForecasts > .container-row #successForecastsDescript .sucForecBox > table td {
          border: 1px solid #ACAFB2;
          color: #F30D31;
          font-size: 14px;
          font-weight: normal;
          font-family: "Roboto Condensed", sans-serif;
          text-align: center;
          padding: 10px 0;
          width: 50%; }
          #successForecasts > .container-row #successForecastsDescript .sucForecBox > table td:first-of-type {
            color: #62686F;
            font-size: 14px;
            font-weight: bold;
            font-family: "Roboto Condensed", sans-serif;
            text-align: left;
            padding-left: 24px; }
    #successForecasts > .container-row .green-box-for-decore {
      height: 18px;
      border-radius: 2px;
      background: #2AB700;
      margin-bottom: 4px; }

.mobile-hide-block {
  display: none; }

@media only screen and (min-width: 1450px) and (max-width: 1650px) {
  #successForecasts > .container-row #successForecastsDescript .col-data ul.row > li > a {
    font-size: 15px; } }

@media only screen and (max-width: 1449px) {
  #successForecasts {
    position: fixed;
    right: -315px;
    z-index: 200;
    width: 100%;
    max-width: 340px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
    #successForecasts.active {
      max-width: 100%;
      -webkit-transition: .8s 1s background,.5s 0s all;
      -o-transition: .8s 1s background,.5s 0s all;
      transition: .8s 1s background,.5s 0s all;
      background: rgba(0, 0, 0, 0.16);
      right: 0;
      z-index: 100; }
      #successForecasts.active > .container-row {
        background: #ACAFB2; }
        #successForecasts.active > .container-row > div,
        #successForecasts.active > .container-row h3 {
          visibility: visible; }
      #successForecasts.active > .mobile-hide-block {
        right: 323px; }
    #successForecasts > .mobile-hide-block {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 14px;
      height: 100%;
      position: fixed;
      z-index: 200;
      top: 0;
      right: 7px;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s; }
      #successForecasts > .mobile-hide-block > .btn-open-fix {
        background: #FFFFFF;
        width: 18px;
        padding: 7px 3px;
        height: 40px;
        border-radius: 9px;
        border: 1px solid #323840;
        -webkit-transition: .25s;
        -o-transition: .25s;
        transition: .25s; }
        #successForecasts > .mobile-hide-block > .btn-open-fix > svg {
          display: none;
          -webkit-transition: .5s;
          -o-transition: .5s;
          transition: .5s; }
        #successForecasts > .mobile-hide-block > .btn-open-fix > span {
          position: relative;
          width: 6px;
          height: 6px;
          border-radius: 100%;
          background: #F30D31;
          display: inline-block; }
          #successForecasts > .mobile-hide-block > .btn-open-fix > span:after, #successForecasts > .mobile-hide-block > .btn-open-fix > span:before {
            content: '';
            position: absolute;
            width: 6px;
            height: 6px;
            border-radius: 100%;
            background: #F30D31; }
          #successForecasts > .mobile-hide-block > .btn-open-fix > span:before {
            top: -8px;
            left: 0; }
          #successForecasts > .mobile-hide-block > .btn-open-fix > span:after {
            bottom: -8px;
            left: 0; }
        #successForecasts > .mobile-hide-block > .btn-open-fix:hover {
          background: #F30D31;
          border-color: #F30D31; }
          #successForecasts > .mobile-hide-block > .btn-open-fix:hover > span {
            background: white; }
            #successForecasts > .mobile-hide-block > .btn-open-fix:hover > span:before, #successForecasts > .mobile-hide-block > .btn-open-fix:hover > span:after {
              background: white; }
        #successForecasts > .mobile-hide-block > .btn-open-fix.active {
          padding: 7px 3px 7px 2px;
          -webkit-box-shadow: 0px 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0 10px rgba(0, 0, 0, 0.5); }
          #successForecasts > .mobile-hide-block > .btn-open-fix.active > span {
            display: none !important; }
          #successForecasts > .mobile-hide-block > .btn-open-fix.active > svg {
            display: inline;
            -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            transform: rotate(180deg); }
          #successForecasts > .mobile-hide-block > .btn-open-fix.active:hover {
            background: #f30d31;
            border-color: #f30d31; }
            #successForecasts > .mobile-hide-block > .btn-open-fix.active:hover > svg > path {
              fill: white; }
            #successForecasts > .mobile-hide-block > .btn-open-fix.active:hover:active {
              -webkit-box-shadow: 0px 0 10px rgba(0, 0, 0, 0.5) inset;
              box-shadow: 0px 0 10px rgba(0, 0, 0, 0.5) inset; }
    #successForecasts > .container-row {
      max-width: 330px;
      margin-left: auto;
      background: #919498; }
      #successForecasts > .container-row > div,
      #successForecasts > .container-row h3 {
        visibility: hidden; } }

@media only screen and (max-width: 1130px) {
  #headerNews {
    position: fixed;
    left: -300px;
    z-index: 200;
    width: 100%;
    max-width: 337px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
    #headerNews.active {
      max-width: calc(100% - 15px);
      -webkit-transition: .8s 1s background,.5s 0s all;
      -o-transition: .8s 1s background,.5s 0s all;
      transition: .8s 1s background,.5s 0s all;
      background: rgba(0, 0, 0, 0.16);
      left: 0;
      z-index: 100; }
      #headerNews.active > .container-row {
        background: #62686F; }
        #headerNews.active > .container-row > div,
        #headerNews.active > .container-row h3 {
          visibility: visible; }
      #headerNews.active > .mobile-hide-block {
        left: 305px; }
    #headerNews > .mobile-hide-block {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 14px;
      height: 100%;
      position: fixed;
      z-index: 200;
      top: 0;
      left: 7px;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s; }
      #headerNews > .mobile-hide-block > .btn-open-fix {
        background: #FFFFFF;
        width: 18px;
        padding: 7px 3px;
        height: 40px;
        border-radius: 9px;
        border: 1px solid #323840;
        -webkit-transition: .25s;
        -o-transition: .25s;
        transition: .25s; }
        #headerNews > .mobile-hide-block > .btn-open-fix > svg {
          display: none;
          -webkit-transition: .5s;
          -o-transition: .5s;
          transition: .5s; }
        #headerNews > .mobile-hide-block > .btn-open-fix > span {
          position: relative;
          width: 6px;
          height: 6px;
          border-radius: 100%;
          background: #323840;
          display: inline-block; }
          #headerNews > .mobile-hide-block > .btn-open-fix > span:after, #headerNews > .mobile-hide-block > .btn-open-fix > span:before {
            content: '';
            position: absolute;
            width: 6px;
            height: 6px;
            border-radius: 100%;
            background: #323840; }
          #headerNews > .mobile-hide-block > .btn-open-fix > span:before {
            top: -8px;
            left: 0; }
          #headerNews > .mobile-hide-block > .btn-open-fix > span:after {
            bottom: -8px;
            left: 0; }
        #headerNews > .mobile-hide-block > .btn-open-fix:hover {
          background: #323840;
          border-color: #323840; }
          #headerNews > .mobile-hide-block > .btn-open-fix:hover > span {
            background: white; }
            #headerNews > .mobile-hide-block > .btn-open-fix:hover > span:before, #headerNews > .mobile-hide-block > .btn-open-fix:hover > span:after {
              background: white; }
        #headerNews > .mobile-hide-block > .btn-open-fix.active {
          padding: 7px 3px 7px 2px;
          -webkit-box-shadow: 0px 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0 10px rgba(0, 0, 0, 0.5); }
          #headerNews > .mobile-hide-block > .btn-open-fix.active > span {
            display: none !important; }
          #headerNews > .mobile-hide-block > .btn-open-fix.active > svg {
            display: inline; }
          #headerNews > .mobile-hide-block > .btn-open-fix.active:hover {
            background: #323840;
            border-color: #323840; }
            #headerNews > .mobile-hide-block > .btn-open-fix.active:hover > svg > path {
              fill: white; }
            #headerNews > .mobile-hide-block > .btn-open-fix.active:hover:active {
              -webkit-box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8) inset;
              box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8) inset; }
    #headerNews > .container-row {
      max-width: 313px;
      margin-right: auto;
      background: #919498; }
      #headerNews > .container-row > div,
      #headerNews > .container-row h3 {
        visibility: hidden; }
  #successForecasts.active {
    max-width: calc(100% - 14px); } }
