@import 'all.scss';

#pageContent{
	// nav-node-list
	#nav-node-list{
		background: #ffffff;
		padding: 4px 15px;
		margin-bottom: 9px;
		margin-top: 4px;
		box-shadow: 0 0 5px rgba(0,0,0, .06);
		li{
			& > a{
			 	display: inline-block;
			 	padding-right: 10px;
			 	position: relative;
			 	font-size: 14px;
			 	color: #808080;

			 	&:after{
			 		content: '/';
			 		position: absolute;
			 		right: 0px;
			 	}
			 	&:hover{
			 		text-decoration: underline;
			 		font-weight: bold;
			 		color: #000000;
			 	}
			}

			& > span{
				padding-left: 2.5px;
				color: #000000;
				font-size: 14px;
			}
		}
	}

	// comment to forecast
	#commentForecast{
		margin: 0 13px; // I don't linke it
		& > .comment-block{
			box-shadow: 0 0 5px rgba(0,0,0, .06);
			background: #ffffff;
			padding: 4px 15px;
			margin-bottom: 8px;
			& > p{
				font-size: 14px;
				color: #000000;
			} 
		}
		& > .forecast-info{
			box-shadow: 0 0 5px rgba(0,0,0, .06);
			background: white;
			padding: 20px 22px 36px;
			border: 1px solid #ACAFB2;
			border-radius: 4px;
			position: relative;

			& > h1{
				font-size: 38px;
				color: #000000;
			}
			& > p{
				font-size: 18px;
				color: #000000;
				line-height: 23px;
				margin-top: 29px;
			}
			& > .info-box{
				position: absolute;
				top: 6px;
				right: 6px;
				background: #2AB700;
				border-radius: 2px;
				padding: 3px 5px;
				color: white;
				text-transform: uppercase;
				font-size: 10px;
				display: flex;
				flex-direction: row;
				align-items: center;
				& > svg{
					margin-right: 6px;
				}
			}
		}
	}

	// moreOfForecast
	#moreOfForecast{
		margin: 9px 0;
		& > .more-block{
			background: #ffffff;
			box-shadow: 0 0 5px rgba(0,0,0, .06);
			& > p{
				font-size: 14px;
				color: #000000;
				padding: 4px 15px;
			}
		}
		& > .moreInfoForecBox{
			background: white;
			border-radius: 4px;
			margin: 6px 0;
			overflow: hidden;

			& > .defLig{
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 4px 0 0;
				border: 1px solid #ACAFB2;
				border-bottom: 0;
				border-radius: 4px 4px 0 0;
				h6{
					background: #2AB700;
					font-family: $Roboto_Condensed;
					font-size: 10px;
					font-weight: 600;
					color: white;
					display: flex;
					justify-content: center;
					align-items: center;
					border-radius: 2px;
					padding: 3px 5px;

					& > svg{
						margin-right: 5px;
					}
				}
			}

			& > .row{
				width: 100%;
				justify-content: space-around;
				align-items: center;
				text-align: center;
				border: 1px solid #ACAFB2;
				border-bottom: 0;
				border-top: 0;
				border-radius:  0;
				padding-bottom: 20px;


				& > .col-lig-forec{
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: space-around;
					& > p{
						color: #000000;
						font-size: 18px;
						font-weight: bold;
						font-family: $Roboto_Condensed;
						margin-right: 60px;
					}
					&>img{
						width: 60px;
						height: 60px;
					}

					&.align-self-end{
						align-self: flex-end;

						& > h4{
							color: #F30D31;
							font-size: 40px;
							font-weight: bold;
							font-family: $Roboto_Condensed;
						}
					}
				}
			}

			& > table{
				border-collapse: collapse;
				width: 100%;

				th{
					background: #F30D31;
					border-radius: 2px 2px 0 0;
					color: white;
					font-size: 10px;
					font-weight: bold;
					font-family: $Roboto_Condensed;
					padding: 5px;
				}
				td{
					border: 1px solid #ACAFB2;
					color: #F30D31;
					font-size: 18px;
					font-weight: bold;
					font-family: $Roboto_Condensed;
					text-align: center;
					padding: 10px 0;
					width: 50%;
					&:first-of-type{
						color: #62686F;
						font-size: 18px;
						font-weight: bold;
						font-family: $Roboto_Condensed;
						text-align: left;
						padding-left: 24px;
					}
				}
			}
		}
	}
}


// media
@media only screen and (max-width: 799px ) {
	#pageContent{
		// nav-node-list
		#nav-node-list{
			background: #ffffff;
			padding: 5px 10px;
			margin-bottom: 4px;
			margin-top: 0px;
			li{
				& > a,
				& > span{
				 	font-size: 12px;
				}
			}
		}

		// comment to forecast
		#commentForecast{
			margin: 0;
			& > .comment-block{
				padding: 4px 10px;
				margin-bottom: 4px;
			}
			& > .forecast-info{
				padding: 36px 22px 21px;

				& > h1{
					font-size: 18px;
				}
				& > p{
					font-size: 14px;
					line-height: 18px;
					margin-top: 15px;
				}
			}
		}

		// moreOfForecast
		#moreOfForecast{
			margin: 4px 0 6px;
			& > .more-block{
				& > p{
					padding: 4px 10px;
				}
			}
			& > .moreInfoForecBox{
				margin: 4px 0 0;

				& > .defLig{
					margin-bottom: 13px;
				}

				& > .row{
					padding-bottom: 22px;
					& > .col-lig-forec{
						flex-direction: column;
						& > p{
							font-size: 14px;
							margin-right: 0px;
							order: 2;
							margin-top: 10px;
							font-weight: normal;
						}
						&>img{
							width: 30px;
							height: 30px;
							order: 1;
						}

						&.align-self-end{
							align-self: flex-end;

							& > h4{
								font-size: 28px;
								font-weight: normal;
							}
						}
					}
				}

				& > table{
					td{
						font-size: 15px;
						font-weight: normal;
						&:first-of-type{
							font-size: 15px;
						}
					}
				}
			}
		}
	}
}