@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap';
body {
  background: #F1F2F2; }

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif; }

.container {
  max-width: 1920px;
  width: 100%;
  margin: auto; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%; }

.btn {
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent));
  background-image: -webkit-linear-gradient(transparent);
  background-image: -o-linear-gradient(transparent);
  background-image: linear-gradient(transparent);
  background-color: transparent;
  cursor: pointer; }

.text-nowrap {
  white-space: nowrap;
  overflow: hidden;
  position: relative; }

.img-fluid {
  max-width: 100%;
  height: auto; }

@media only screen and (max-width: 950px) {
  .text-nowrap {
    max-width: 600px; }
    .text-nowrap:after {
      content: '...';
      background: white;
      font-size: 14px;
      color: #000000;
      position: absolute;
      right: 0px;
      padding: 0 3px;
      bottom: 0; } }

#newsBigBox {
  margin: 3px 0 30px; }
  #newsBigBox #newsBigHeader {
    margin-bottom: 14px; }
    #newsBigBox #newsBigHeader.row {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      #newsBigBox #newsBigHeader.row .col-news > h2 {
        font-size: 38px;
        font-weight: bolder;
        color: #000000; }
      #newsBigBox #newsBigHeader.row .col-news-data ul.row {
        background: white;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch; }
        #newsBigBox #newsBigHeader.row .col-news-data ul.row > li {
          width: 33.33%;
          min-width: 124px; }
          #newsBigBox #newsBigHeader.row .col-news-data ul.row > li > a {
            padding: 14px 0 12px;
            display: block;
            height: 100%;
            text-align: center;
            color: #808080;
            font-size: 18px;
            -webkit-transition: .3s background,  .25s border;
            -o-transition: .3s background,  .25s border;
            transition: .3s background,  .25s border;
            border-bottom: 2px solid transparent;
            font-family: "Roboto Condensed", sans-serif; }
            #newsBigBox #newsBigHeader.row .col-news-data ul.row > li > a.active {
              font-weight: 600;
              color: #000000;
              border-bottom-color: #DB2214; }
            #newsBigBox #newsBigHeader.row .col-news-data ul.row > li > a:hover {
              background: #DB2214;
              color: white;
              border-bottom-color: #DB2214;
              -webkit-transition: .4s border;
              -o-transition: .4s border;
              transition: .4s border;
              font-weight: 600; }
              #newsBigBox #newsBigHeader.row .col-news-data ul.row > li > a:hover.active {
                background: white;
                color: #000000;
                border-bottom-color: #DB2214; }
          #newsBigBox #newsBigHeader.row .col-news-data ul.row > li:nth-of-type(2) > a {
            position: relative; }
            #newsBigBox #newsBigHeader.row .col-news-data ul.row > li:nth-of-type(2) > a:before, #newsBigBox #newsBigHeader.row .col-news-data ul.row > li:nth-of-type(2) > a:after {
              content: '';
              width: 1px;
              height: 35%;
              background: rgba(98, 104, 111, 0.5);
              position: absolute;
              top: 32.5%; }
            #newsBigBox #newsBigHeader.row .col-news-data ul.row > li:nth-of-type(2) > a:before {
              left: 0; }
            #newsBigBox #newsBigHeader.row .col-news-data ul.row > li:nth-of-type(2) > a:after {
              right: 0; }
  #newsBigBox > .newsCardsBlock {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: stretch;
    align-content: stretch; }
    #newsBigBox > .newsCardsBlock > .col-news {
      width: 25%;
      max-width: 295px;
      height: inherit;
      padding: 8px 8px 0 0; }
      #newsBigBox > .newsCardsBlock > .col-news > a.news-card {
        background: #ffffff;
        height: 100%;
        border-radius: 4px;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        padding: 10px;
        overflow: hidden;
        -webkit-transition: .2s;
        -o-transition: .2s;
        transition: .2s;
        border: 1px solid transparent; }
        #newsBigBox > .newsCardsBlock > .col-news > a.news-card .card-img {
          -webkit-transition: .4s;
          -o-transition: .4s;
          transition: .4s;
          overflow: hidden;
          position: relative;
          border-radius: 4px;
          margin-bottom: 14px;
          height: inherit;
          min-height: 150px; }
          #newsBigBox > .newsCardsBlock > .col-news > a.news-card .card-img > img {
            -webkit-transition: .5s;
            -o-transition: .5s;
            transition: .5s;
            -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
            transform: scale(1.2); }
          #newsBigBox > .newsCardsBlock > .col-news > a.news-card .card-img:after {
            content: '';
            width: 150%;
            height: 150%;
            position: absolute;
            background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(79, 85, 92, 0.7)));
            background: -webkit-linear-gradient(transparent, rgba(79, 85, 92, 0.7));
            background: -o-linear-gradient(transparent, rgba(79, 85, 92, 0.7));
            background: linear-gradient(transparent, rgba(79, 85, 92, 0.7));
            -webkit-transition: .2s;
            -o-transition: .2s;
            transition: .2s;
            top: 150%;
            left: 0;
            z-index: 3; }
        #newsBigBox > .newsCardsBlock > .col-news > a.news-card .card-body {
          height: inherit;
          position: relative; }
          #newsBigBox > .newsCardsBlock > .col-news > a.news-card .card-body h5 {
            font-size: 16px;
            font-weight: normal;
            color: #0B0B0B;
            -webkit-transition: .2s;
            -o-transition: .2s;
            transition: .2s;
            margin-bottom: 10px; }
          #newsBigBox > .newsCardsBlock > .col-news > a.news-card .card-body p {
            font-size: 12px;
            color: #808080;
            text-align: right;
            -webkit-transition: .2s;
            -o-transition: .2s;
            transition: .2s;
            position: absolute;
            bottom: 0;
            right: 0; }
        #newsBigBox > .newsCardsBlock > .col-news > a.news-card:hover {
          -webkit-box-shadow: 0 3px 5px rgba(79, 85, 92, 0.5);
          box-shadow: 0 3px 5px rgba(79, 85, 92, 0.5);
          border-color: rgba(79, 85, 92, 0.6);
          background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(transparent), to(#4F555C));
          background: -webkit-linear-gradient(transparent, transparent, #4F555C);
          background: -o-linear-gradient(transparent, transparent, #4F555C);
          background: linear-gradient(transparent, transparent, #4F555C); }
          #newsBigBox > .newsCardsBlock > .col-news > a.news-card:hover > .card-img > img {
            -webkit-transform: scale(1.4);
            -ms-transform: scale(1.4);
            transform: scale(1.4); }
          #newsBigBox > .newsCardsBlock > .col-news > a.news-card:hover > .card-img:after {
            top: 0; }
          #newsBigBox > .newsCardsBlock > .col-news > a.news-card:hover .card-body h5 {
            text-decoration: underline;
            font-weight: bold; }
          #newsBigBox > .newsCardsBlock > .col-news > a.news-card:hover .card-body p {
            color: white  !important; }
  #newsBigBox > .moreNews-btn {
    margin-top: 22px;
    text-align: center; }
    #newsBigBox > .moreNews-btn > .btn {
      border-radius: 6px;
      position: relative;
      overflow: hidden;
      background: transparent;
      border: 2px solid #DB2214; }
      #newsBigBox > .moreNews-btn > .btn > span {
        padding: 10px 45px;
        font-size: 18px;
        color: #000000;
        font-weight: bolder;
        position: relative;
        z-index: 5;
        -webkit-transition: color 0s .2s;
        -o-transition: color 0s .2s;
        transition: color 0s .2s;
        display: block; }
      #newsBigBox > .moreNews-btn > .btn:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: #DB2214;
        left: 0;
        top: 100%;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s;
        z-index: 2; }
      #newsBigBox > .moreNews-btn > .btn:hover:before {
        top: 0; }
      #newsBigBox > .moreNews-btn > .btn:hover > span {
        color: white; }

@media only screen and (min-width: 1260px) {
  .pr-lg-0 {
    padding-right: 0 !important; } }

@media only screen and (min-width: 850px) and (max-width: 1260px) {
  #newsBigBox > .newsCardsBlock > .col-news {
    width: 33.33%;
    max-width: 359px; }
    #newsBigBox > .newsCardsBlock > .col-news .card-img > img {
      width: 100%; }
  .pr-md-0 {
    padding-right: 0 !important; } }

@media only screen and (min-width: 650px) and (max-width: 850px) {
  #newsBigBox > .newsCardsBlock > .col-news {
    width: 50%;
    max-width: 400px; }
    #newsBigBox > .newsCardsBlock > .col-news .card-img > img {
      width: 100%; }
  .pr-xs-0 {
    padding-right: 0 !important; } }

@media only screen and (max-width: 650px) {
  #newsBigBox #newsBigHeader {
    margin-bottom: 8px; }
    #newsBigBox #newsBigHeader.row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; }
      #newsBigBox #newsBigHeader.row .col-news > h2 {
        font-size: 18px;
        margin-bottom: 7px; }
      #newsBigBox #newsBigHeader.row .col-news-data {
        width: 100%; }
        #newsBigBox #newsBigHeader.row .col-news-data ul.row {
          background: white;
          -webkit-box-align: stretch;
          -ms-flex-align: stretch;
          align-items: stretch;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          width: 100%; }
          #newsBigBox #newsBigHeader.row .col-news-data ul.row > li {
            min-width: 110px; }
            #newsBigBox #newsBigHeader.row .col-news-data ul.row > li > a {
              padding: 12px 0;
              font-size: 14px; }
  #newsBigBox > .newsCardsBlock {
    -ms-flex-line-pack: start;
    align-content: flex-start; }
    #newsBigBox > .newsCardsBlock > .col-news {
      width: 100%;
      max-width: 100%;
      padding: 0 0 12px; }
      #newsBigBox > .newsCardsBlock > .col-news > a.news-card {
        -ms-flex-line-pack: start;
        align-content: flex-start; }
      #newsBigBox > .newsCardsBlock > .col-news .card-img {
        height: 171px; }
        #newsBigBox > .newsCardsBlock > .col-news .card-img > img {
          width: 100%;
          -webkit-transform: scale(1);
          -ms-transform: scale(1);
          transform: scale(1); }
      #newsBigBox > .newsCardsBlock > .col-news .card-body {
        height: auto !important; }
        #newsBigBox > .newsCardsBlock > .col-news .card-body h5 {
          padding-bottom: 20px; }
        #newsBigBox > .newsCardsBlock > .col-news .card-body p {
          font-size: 13px; }
      #newsBigBox > .newsCardsBlock > .col-news:last-of-type {
        padding-bottom: 0; } }
