@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap';
body {
  background: #F1F2F2; }

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif; }

.container {
  max-width: 1920px;
  width: 100%;
  margin: auto; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%; }

.btn {
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent));
  background-image: -webkit-linear-gradient(transparent);
  background-image: -o-linear-gradient(transparent);
  background-image: linear-gradient(transparent);
  background-color: transparent;
  cursor: pointer; }

.text-nowrap {
  white-space: nowrap;
  overflow: hidden;
  position: relative; }

.img-fluid {
  max-width: 100%;
  height: auto; }

@media only screen and (max-width: 950px) {
  .text-nowrap {
    max-width: 600px; }
    .text-nowrap:after {
      content: '...';
      background: white;
      font-size: 14px;
      color: #000000;
      position: absolute;
      right: 0px;
      padding: 0 3px;
      bottom: 0; } }

#personalAreaBox #userArea-header > .row {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

#personalAreaBox #userArea-header .personalAre-navbar ul.row {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.06);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.06);
  background: white;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }
  #personalAreaBox #userArea-header .personalAre-navbar ul.row > li > a {
    padding: 14px 15px 12px;
    display: block;
    height: 100%;
    text-align: center;
    color: #808080;
    font-size: 18px;
    -webkit-transition: .3s background,  .25s border;
    -o-transition: .3s background,  .25s border;
    transition: .3s background,  .25s border;
    border-bottom: 2px solid transparent;
    font-family: "Roboto Condensed", sans-serif; }
    #personalAreaBox #userArea-header .personalAre-navbar ul.row > li > a.active {
      font-weight: 600;
      color: #000000;
      border-bottom-color: #DB2214; }
    #personalAreaBox #userArea-header .personalAre-navbar ul.row > li > a:hover {
      background: #DB2214;
      color: white;
      border-bottom-color: #DB2214;
      -webkit-transition: .4s border;
      -o-transition: .4s border;
      transition: .4s border;
      font-weight: 600; }
      #personalAreaBox #userArea-header .personalAre-navbar ul.row > li > a:hover.active {
        background: white;
        color: #000000;
        border-bottom-color: #DB2214; }
  #personalAreaBox #userArea-header .personalAre-navbar ul.row > li:nth-of-type(2) > a {
    position: relative; }
    #personalAreaBox #userArea-header .personalAre-navbar ul.row > li:nth-of-type(2) > a:before, #personalAreaBox #userArea-header .personalAre-navbar ul.row > li:nth-of-type(2) > a:after {
      content: '';
      width: 1px;
      height: 35%;
      background: rgba(98, 104, 111, 0.5);
      position: absolute;
      top: 32.5%; }
    #personalAreaBox #userArea-header .personalAre-navbar ul.row > li:nth-of-type(2) > a:before {
      left: 0; }
    #personalAreaBox #userArea-header .personalAre-navbar ul.row > li:nth-of-type(2) > a:after {
      right: 0; }
  #personalAreaBox #userArea-header .personalAre-navbar ul.row > li:nth-of-type(3) > a {
    position: relative; }
    #personalAreaBox #userArea-header .personalAre-navbar ul.row > li:nth-of-type(3) > a:after {
      content: '';
      width: 1px;
      height: 35%;
      background: rgba(98, 104, 111, 0.5);
      position: absolute;
      top: 32.5%; }
    #personalAreaBox #userArea-header .personalAre-navbar ul.row > li:nth-of-type(3) > a:after {
      right: 0; }

#personalAreaBox #userArea-header .personalAre-navbar .mobile-persNavbar {
  background: white;
  color: #000000;
  border-bottom: 2px solid #DB2214;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 8px 10px 8px 27px;
  font-size: 18px;
  font-weight: bolder;
  cursor: pointer;
  display: none; }
  #personalAreaBox #userArea-header .personalAre-navbar .mobile-persNavbar > .menu-tree-mb button {
    height: 24px;
    width: 24px;
    background: #DB2214;
    border-radius: 50%; }
    #personalAreaBox #userArea-header .personalAre-navbar .mobile-persNavbar > .menu-tree-mb button.active .tree-btn-is {
      background: transparent; }
      #personalAreaBox #userArea-header .personalAre-navbar .mobile-persNavbar > .menu-tree-mb button.active .tree-btn-is:after {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 0px; }
      #personalAreaBox #userArea-header .personalAre-navbar .mobile-persNavbar > .menu-tree-mb button.active .tree-btn-is:before {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 0px; }
    #personalAreaBox #userArea-header .personalAre-navbar .mobile-persNavbar > .menu-tree-mb button .tree-btn-is {
      width: 10px;
      height: 2px;
      background: white;
      display: block;
      position: relative;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s;
      margin: auto; }
      #personalAreaBox #userArea-header .personalAre-navbar .mobile-persNavbar > .menu-tree-mb button .tree-btn-is:after, #personalAreaBox #userArea-header .personalAre-navbar .mobile-persNavbar > .menu-tree-mb button .tree-btn-is:before {
        content: '';
        width: 10px;
        height: 2px;
        background: white;
        display: block;
        position: absolute;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s; }
      #personalAreaBox #userArea-header .personalAre-navbar .mobile-persNavbar > .menu-tree-mb button .tree-btn-is:after {
        top: 4px; }
      #personalAreaBox #userArea-header .personalAre-navbar .mobile-persNavbar > .menu-tree-mb button .tree-btn-is:before {
        top: -4px; }

#personalAreaBox #userArea-header .col-pers > h1 {
  font-size: 38px;
  color: #000000;
  font-weight: bolder; }

.alert {
  display: none;
  padding: 8px 17px 8px 11px;
  margin: 9px 0; }
  .alert > .row {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .alert > .row > .col-alert > p {
      color: #ffffff;
      font-weight: bolder;
      font-size: 18px; }
    .alert > .row > .col-alert > .btn {
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s;
      border: 2px solid #FFFFFF;
      color: #FFFFFF;
      font-size: 18px;
      font-weight: bolder;
      text-transform: uppercase;
      padding: 10px 20px;
      border-radius: 6px; }
      .alert > .row > .col-alert > .btn > .close-icon {
        display: none; }

.alert-warring {
  background: #E2BE28; }
  .alert-warring .btn:hover {
    color: #E2BE28 !important;
    background: white !important; }

.alert-success {
  background: #2AB700; }
  .alert-success .btn:hover {
    color: #2AB700 !important;
    background: white !important; }

.alert-danger {
  background: #DB2214; }
  .alert-danger .btn:hover {
    color: #DB2214 !important;
    background: white !important; }

#ligaFootball {
  position: relative;
  margin-bottom: 20px;
  min-height: 55vh; }

.modal-danger-close {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.4)), color-stop(rgba(255, 255, 255, 0.2)), to(rgba(255, 255, 255, 0.4)));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.4));
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.4));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.4));
  z-index: 500; }
  .modal-danger-close > .row {
    width: inherit;
    height: inherit;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .modal-danger-close > .row > .col {
      text-align: center; }
      .modal-danger-close > .row > .col h2 {
        font-size: 38px;
        color: #000000;
        margin-bottom: 55px; }
  .modal-danger-close.show {
    display: block; }

.blur {
  -webkit-filter: blur(10px); }

#userSubscript {
  margin-top: 12px;
  margin-bottom: 20px; }
  #userSubscript > .sub-info {
    border-radius: 4px;
    background: white; }
    #userSubscript > .sub-info h3 {
      border-radius: inherit;
      background: #BEC1C4;
      text-align: center;
      padding: 12px 0;
      color: white;
      font-size: 16px;
      font-weight: bolder; }
    #userSubscript > .sub-info ul li {
      padding: 18px 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      border-top: 1px solid #F1F2F2; }
      #userSubscript > .sub-info ul li span {
        display: inline-block;
        margin: 0 7px;
        width: 194px;
        font-size: 16px;
        color: #000000;
        line-height: 16px; }
        #userSubscript > .sub-info ul li span.icon {
          width: 14px !important; }
        #userSubscript > .sub-info ul li span.subscript-notactive, #userSubscript > .sub-info ul li span.subscript-active {
          display: none; }
        #userSubscript > .sub-info ul li span.show {
          display: block; }
      #userSubscript > .sub-info ul li:first-of-type {
        border-top: 0;
        padding: 23px 0;
        color: #DB2214;
        font-size: 38px;
        font-weight: bolder; }
      #userSubscript > .sub-info ul li.sub-btn {
        text-align: right;
        padding: 12px 0;
        background: #F1F2F2;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end; }
        #userSubscript > .sub-info ul li.sub-btn > .btn-continue-sub {
          border: 2px solid #ACAFB2;
          color: #ACAFB2;
          font-size: 18px;
          font-weight: bolder;
          border-radius: 6px;
          padding: 5px 10px; }
          #userSubscript > .sub-info ul li.sub-btn > .btn-continue-sub.active {
            color: #DB2214;
            border-color: #DB2214; }

.userData-body {
  margin: 12px 0 16px; }
  .userData-body form > .form-group {
    background: white;
    padding: 6px 0px 0px;
    border-radius: 4px; }
    .userData-body form > .form-group .form-col-100 {
      border-radius: 4px;
      background: #F1F2F2;
      margin: 0 5px 14px; }
      .userData-body form > .form-group .form-col-100 > h4 {
        font-size: 16px;
        color: #808080;
        padding: 8px;
        padding-left: 24px; }
    .userData-body form > .form-group > .row {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: 0 5px; }
    .userData-body form > .form-group .form-col {
      max-width: 374px;
      width: 33.33%; }
      .userData-body form > .form-group .form-col > label {
        display: block;
        margin: auto;
        position: relative;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s;
        margin-bottom: 14px; }
        .userData-body form > .form-group .form-col > label > span {
          font-size: 12px;
          font-family: "Roboto Condensed", sans-serif;
          color: #ACAFB2;
          position: absolute;
          -webkit-transition: .5s;
          -o-transition: .5s;
          transition: .5s;
          top: 5px;
          left: 24px; }
        .userData-body form > .form-group .form-col > label > input {
          width: 100%;
          font-size: 14px;
          font-family: "Roboto Condensed", sans-serif;
          color: #000000;
          border: 1px solid #ACAFB2;
          border-radius: 4px;
          padding: 21px 24px 10px;
          -webkit-transition: .5s;
          -o-transition: .5s;
          transition: .5s; }
          .userData-body form > .form-group .form-col > label > input:hover {
            border-color: #5f6366;
            -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.2); }
          .userData-body form > .form-group .form-col > label > input.active {
            border-color: #239800;
            -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.2) inset;
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.2) inset; }
      .userData-body form > .form-group .form-col > .select-form {
        position: relative;
        background: white;
        padding-bottom: 17px; }
        .userData-body form > .form-group .form-col > .select-form > .show-select > .choose-radio {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          width: 100%;
          color: #ACAFB2;
          border: 1px solid #ACAFB2;
          cursor: pointer;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          border-radius: 4px;
          font-size: 14px;
          position: relative;
          padding: 15px 24px; }
          .userData-body form > .form-group .form-col > .select-form > .show-select > .choose-radio:after {
            position: absolute;
            content: "";
            top: 15px;
            right: 24px;
            width: 7px;
            height: 7px;
            border: 1px solid transparent;
            border-color: transparent transparent #ACAFB2 #ACAFB2;
            border-radius: 3px 0 3px 0;
            -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }
          .userData-body form > .form-group .form-col > .select-form > .show-select > .choose-radio.active:after {
            border-color: transparent transparent #239800 #239800; }
          .userData-body form > .form-group .form-col > .select-form > .show-select > .choose-radio.active {
            border-color: #239800 !important;
            color: #239800; }
          .userData-body form > .form-group .form-col > .select-form > .show-select > .choose-radio.error {
            border-color: #DB2214;
            color: #DB2214; }
            .userData-body form > .form-group .form-col > .select-form > .show-select > .choose-radio.error:after {
              border-color: transparent transparent #DB2214 #DB2214; }
          .userData-body form > .form-group .form-col > .select-form > .show-select > .choose-radio:hover {
            border-color: #5f6366;
            -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.2); }
          .userData-body form > .form-group .form-col > .select-form > .show-select > .choose-radio > .red-price {
            float: none;
            margin-left: 10px; }
        .userData-body form > .form-group .form-col > .select-form > .select-body {
          width: 100%;
          z-index: 500;
          background: white;
          margin-top: -2px; }
        .userData-body form > .form-group .form-col > .select-form label {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          width: 100%;
          color: #ACAFB2;
          border: 1px solid #ACAFB2;
          cursor: pointer;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          position: relative;
          padding: 15px 24px;
          font-weight: bolder;
          color: #62686F;
          font-size: 18px; }
          .userData-body form > .form-group .form-col > .select-form label:hover {
            background-color: rgba(172, 175, 178, 0.2); }
          .userData-body form > .form-group .form-col > .select-form label > input {
            opacity: 0;
            width: 0; }
          .userData-body form > .form-group .form-col > .select-form label .select-text {
            width: 100%; }
            .userData-body form > .form-group .form-col > .select-form label .select-text > b {
              color: #000000;
              font-weight: bold;
              float: none;
              padding-right: 15px; }
            .userData-body form > .form-group .form-col > .select-form label .select-text > .red-price {
              color: #DB2214;
              font-weight: bold;
              float: right; }
      .userData-body form > .form-group .form-col .invalid {
        display: none;
        color: #DB2214;
        margin-top: 5px;
        font-size: 12px; }
        .userData-body form > .form-group .form-col .invalid.error {
          display: block; }
      .userData-body form > .form-group .form-col:nth-of-type(2) {
        margin: 0 32px; }
      .userData-body form > .form-group .form-col.form-select-user {
        margin: 0; }
    .userData-body form > .form-group .btn-submit {
      background: #F1F2F2;
      width: 100%;
      padding: 15px 5px 15px; }
      .userData-body form > .form-group .btn-submit > button {
        border-radius: 3px;
        display: block;
        position: relative;
        overflow: hidden;
        background: transparent;
        margin-left: auto; }
        .userData-body form > .form-group .btn-submit > button > span {
          border: 2px solid #DB2214;
          color: #DB2214;
          font-family: "Roboto Condensed", sans-serif;
          font-weight: 600;
          font-size: 18px;
          padding: 10px;
          border-radius: 3px;
          position: relative;
          z-index: 5;
          -webkit-transition: color 0s .2s;
          -o-transition: color 0s .2s;
          transition: color 0s .2s;
          display: block; }
        .userData-body form > .form-group .btn-submit > button:before {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          background: #DB2214;
          left: 0;
          top: 100%;
          -webkit-transition: .5s;
          -o-transition: .5s;
          transition: .5s;
          z-index: 2; }
        .userData-body form > .form-group .btn-submit > button:hover:before {
          top: 0; }
        .userData-body form > .form-group .btn-submit > button:hover > span {
          color: white; }

@media only screen and (min-width: 1130px) and (max-width: 1199px) {
  #personalAreaBox #userArea-header > .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  #personalAreaBox #userArea-header .personalAre-navbar {
    width: 100%; }
    #personalAreaBox #userArea-header .personalAre-navbar ul.row {
      width: 100%; }
      #personalAreaBox #userArea-header .personalAre-navbar ul.row > li {
        width: 100%; }
        #personalAreaBox #userArea-header .personalAre-navbar ul.row > li > a {
          width: 100%;
          padding-left: 0;
          padding-right: 0; } }

@media only screen and (min-width: 799px) and (max-width: 1000px) {
  #personalAreaBox #userArea-header > .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  #personalAreaBox #userArea-header .personalAre-navbar {
    width: 100%; }
    #personalAreaBox #userArea-header .personalAre-navbar ul.row {
      width: 100%; }
      #personalAreaBox #userArea-header .personalAre-navbar ul.row > li {
        width: 100%; }
        #personalAreaBox #userArea-header .personalAre-navbar ul.row > li > a {
          width: 100%;
          padding-left: 0;
          padding-right: 0; } }

@media only screen and (max-width: 799px) {
  #personalAreaBox #userArea-header > .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  #personalAreaBox #userArea-header .personalAre-navbar {
    width: 100%; }
    #personalAreaBox #userArea-header .personalAre-navbar ul.row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; }
      #personalAreaBox #userArea-header .personalAre-navbar ul.row > li {
        width: 100%; }
        #personalAreaBox #userArea-header .personalAre-navbar ul.row > li > a {
          padding: 8px 27px;
          text-align: left;
          border-bottom: 1px solid rgba(98, 104, 111, 0.5); }
          #personalAreaBox #userArea-header .personalAre-navbar ul.row > li > a.active {
            display: none; }
        #personalAreaBox #userArea-header .personalAre-navbar ul.row > li:nth-of-type(2) > a, #personalAreaBox #userArea-header .personalAre-navbar ul.row > li:nth-of-type(3) > a {
          position: relative; }
          #personalAreaBox #userArea-header .personalAre-navbar ul.row > li:nth-of-type(2) > a:before, #personalAreaBox #userArea-header .personalAre-navbar ul.row > li:nth-of-type(2) > a:after, #personalAreaBox #userArea-header .personalAre-navbar ul.row > li:nth-of-type(3) > a:before, #personalAreaBox #userArea-header .personalAre-navbar ul.row > li:nth-of-type(3) > a:after {
            display: none; }
    #personalAreaBox #userArea-header .personalAre-navbar .mobile-persNavbar {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
  #personalAreaBox #userArea-header .col-pers > h1 {
    display: none; }
  .alert > .row > .col-alert > p {
    font-size: 16px;
    padding: 0 10px; }
  .alert > .row > .col-alert > .btn {
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    border: 0;
    padding: 0;
    border-radius: 0; }
    .alert > .row > .col-alert > .btn > span:first-of-type {
      display: none; }
    .alert > .row > .col-alert > .btn > .close-icon {
      display: block; }
  .alert > .row > .col-alert > svg {
    width: 20.5px;
    height: 20.5px; }
  .alert-warring .btn:hover {
    background: transparent !important; }
    .alert-warring .btn:hover svg > path {
      fill: #DB2214; }
  .alert-success .btn:hover {
    background: transparent !important; }
    .alert-success .btn:hover svg > path {
      fill: #DB2214; }
  .alert-danger .btn:hover {
    background: transparent  !important; }
    .alert-danger .btn:hover svg > path {
      fill: #DB2214; }
  .modal-danger-close > .row > .col h2 {
    font-size: 28px; }
  #userSubscript > .sub-info ul li {
    padding: 13px 10px;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    #userSubscript > .sub-info ul li span {
      width: 60%; }
    #userSubscript > .sub-info ul li.sub-btn {
      text-align: right;
      padding: 12px 10px;
      background: #ffffff;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      #userSubscript > .sub-info ul li.sub-btn > .btn-continue-sub {
        width: 100%; }
  .userData-body form > .form-group {
    background: white;
    padding: 6px 5px 0px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0px 5px rgba(229, 230, 230, 0.5);
    box-shadow: 0 0px 5px rgba(229, 230, 230, 0.5);
    margin-bottom: 11px; }
    .userData-body form > .form-group .form-col-100 {
      margin: 0 0px 14px; }
      .userData-body form > .form-group .form-col-100 > h4 {
        font-size: 16px;
        color: #808080; }
    .userData-body form > .form-group > .row {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .userData-body form > .form-group .form-col {
      max-width: 100%;
      width: 100%; }
    .userData-body form > .form-group .btn-submit {
      background: #ffffff;
      padding: 15px 0; }
      .userData-body form > .form-group .btn-submit > button {
        width: 100%; } }
