@import 'all.scss';
// user page
#personalAreaBox{

	#userArea-header{

		& > .row{
			justify-content: space-between;
		}

		& .personalAre-navbar{
			ul.row{
				box-shadow: 0 0 5px rgba(0,0,0, .06);
				background: white;
				align-items: stretch;
				& > li{
					& > a{
						padding: 14px 15px 12px;
						display: block;	
						height: 100%;
						text-align: center;
						color: #808080;
						font-size: 18px;
						transition: .3s background,  .25s border;
						border-bottom: 2px solid transparent;
						font-family: $Roboto_Condensed;

						&.active{
							font-weight: 600;
							color: #000000;
							border-bottom-color: #F30D31;
						}
						&:hover{
							background: #F30D31;
							color: white;
							border-bottom-color: #F30D31;
							transition: .4s border;
							font-weight: 600;
							&.active{
								background: white;
								color: #000000;
								border-bottom-color: #F30D31;
							}
						}
					}
					&:nth-of-type(2){
						& > a{
							position: relative;
							&:before,
							&:after{
								content: '';
								width: 1px;
								height: 35%;
								background: rgba(98,104,111,.5);
								position: absolute;
								top: 32.5%;
							}
							&:before{
								left: 0;
							}
							&:after{
								right: 0;
							}
						}
					}
					&:nth-of-type(3){
						& > a{
							position: relative;
							&:after{
								content: '';
								width: 1px;
								height: 35%;
								background: rgba(98,104,111,.5);
								position: absolute;
								top: 32.5%;
							}
							&:after{
								right: 0;
							}
						}
					}
				}
			}

			.mobile-persNavbar{
				background: white;
				color: #000000;
				border-bottom:2px solid #F30D31;
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 8px 10px 8px 27px;
				font-size: 18px;
				font-weight: bolder;
				cursor: pointer;

				& > .menu-tree-mb{

					button{
						height: 24px;
						width: 24px;
						background: #F30D31;
						border-radius: 50%;
						
						&.active{
							.tree-btn-is{
								background: transparent;

								&:after{
									transform: rotate(-45deg);
									top: 0px;
								}
								&:before{
									transform: rotate(45deg);
									top: 0px;
								}
							}
						}

						.tree-btn-is{
							width: 10px;
							height: 2px;
							background: white;
							display: block;
							position: relative;
							transition: .5s;
							margin: auto;

							&:after,
							&:before{
								content: '';
								width: 10px;
								height: 2px;
								background: white;
								display: block;
								position: absolute;
								transition: .5s;
							}
							&:after{
								top: 4px;
							}

							&:before{
								top: -4px;
							}
						}
					}
				}
				display: none;
			}	
		}

		& .col-pers > h1{
			font-size: 38px;
			color: #000000;
			font-weight: bolder;
		}
	}
}

.alert{
	display: none;
	padding: 8px 17px 8px 11px;
	margin: 9px 0;
	& > .row{
		justify-content: space-between;
		& > .col-alert{
			& > p{
				color: #ffffff;
				font-weight: bolder;
				font-size: 18px;
			}
			& > .btn{
				transition: .5s;
				border: 2px solid #FFFFFF;
				color: #FFFFFF;
				font-size: 18px;
				font-weight: bolder;
				text-transform: uppercase;
				padding: 10px 20px;
				border-radius: 6px;
				& > .close-icon{
					display: none;
				}
			}
		}
	}
}

.alert-warring{
	background: #E2BE28;
	& .btn:hover{
		color: #E2BE28 !important;
		background: white !important; 
	}
}

.alert-success{
	background: #2AB700;
	& .btn:hover{
		color: #2AB700 !important;
		background: white !important; 
	}
}

.alert-danger{
	background: #F30D31;
	& .btn:hover{
		color: #F30D31 !important;
		background: white !important; 
	}
}

#ligaFootball{
	position: relative;
	margin-bottom: 20px;
	min-height: 55vh;
}
.modal-danger-close{
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg,rgba(255,255,255,.4), rgba(255,255,255,.2),rgba(255,255,255,.4));
	z-index: 500;

	& >.row{
		width: inherit;
		height: inherit;
		justify-content: center;
		align-items: center;

		& > .col{
			text-align: center;
			h2{
				font-size: 38px;
				color: #000000;
				margin-bottom: 55px;
			}
		}
	}

	&.show{
		display: block;
	}
}

.blur{
	-webkit-filter: blur(10px);
}

// user subscription
#userSubscript{
	margin-top: 12px;
	margin-bottom: 20px;
	& > .sub-info{
		border-radius: 4px;
		background: white;
		h3{
			border-radius: inherit;
			background: #BEC1C4;
			text-align: center;
			padding: 12px 0;
			color: white;
			font-size: 16px;
			font-weight: bolder;
		}
		ul{
			li{
				padding: 18px 0;
				display: flex;
				justify-content: center;
				align-items: center;
				border-top: 1px solid #F1F2F2;
				span{
					display: inline-block;
					margin:0 7px ;
					width: 194px;
					font-size: 16px;
					color: #000000;
					line-height: 16px;
					&.icon{
						width: 14px !important;
					}
					&.subscript-notactive,
					&.subscript-active{
						display: none;
					}

					&.show{
						display: block;
					}
				}
				&:first-of-type{
					border-top: 0;
					padding: 23px 0;
					color: #F30D31;
					font-size: 38px;
					font-weight: bolder;
				}
				&.sub-btn{
					text-align: right;
					padding: 12px 0;
					background: #F1F2F2;
					justify-content: flex-end;

					& > .btn-continue-sub{
						border: 2px solid #ACAFB2;
						color: #ACAFB2;
						font-size: 18px;
						font-weight: bolder;
						border-radius: 6px;
						padding: 5px 10px;

						&.active{
							color: #F30D31;
							border-color: #F30D31;
						}
					} 
				}
			}
		}
	}
}
// user setting
.userData-body{
	margin: 12px 0 16px;
	form{
		> .form-group{
			background: white;
			padding: 6px 0px 0px;
			border-radius: 4px;

			.form-col-100{
				border-radius: 4px;
				background: #F1F2F2;
				margin: 0 5px 14px;

				& > h4{
					font-size: 16px;
					color: #808080;
					padding: 8px;
					padding-left: 24px;
				}
			}

			& >.row{
				justify-content: space-between;
				padding: 0 5px;
			}
			.form-col{
				max-width: 374px;
				width: 33.33%;
				& >label{
					display: block;
					margin: auto;
					position: relative;
					transition: .5s ;
					margin-bottom: 14px;

					& > span{
						font-size: 12px;
						font-family: $Roboto_Condensed;
						color: #ACAFB2;
						position: absolute;
						transition: .5s ;
						top: 5px;
						left: 24px;
					}

					& > input{
						width: 100%;
						font-size: 14px;
						font-family: $Roboto_Condensed;
						color: #000000;
						border: 1px solid #ACAFB2;
						border-radius: 4px;
						padding: 21px 24px 10px;
						transition: .5s;
						&:hover{
							border-color: darken(#ACAFB2, 30%);
							box-shadow: 0 0 6px rgba(0,0,0,.2);
						}
						&.active{
							border-color: darken(#2AB700, 6%);
							box-shadow: 0 0 6px rgba(0,0,0,.2) inset;
						}
					}
				}

				& > .select-form{
					position: relative;
					background: white;
					padding-bottom: 17px;
					& >.show-select>.choose-radio{
						display: flex;
						width: 100%;
						color: #ACAFB2;
						border: 1px solid #ACAFB2;
						cursor: pointer;
						user-select: none;
						border-radius: 4px;
					  	font-size: 14px;
						position: relative;
						padding: 15px 24px;
						&:after {
						  	position: absolute;
						  	content: "";
						  	top: 15px;
						  	right: 24px;
						  	width: 7px;
						  	height: 7px;
						  	border: 1px solid transparent;
						  	border-color: transparent transparent #ACAFB2 #ACAFB2 ;
						  	border-radius: 3px 0 3px 0;
						  	transform:rotate(-45deg);
						}
						&.active:after{
						  	border-color: transparent transparent #239800 #239800;
						}

						&.active{
							border-color: #239800 !important;
							color: #239800;
						}
						
						&.error{
							border-color: #F30D31;
							color: #F30D31;
							&:after {
						  		border-color: transparent transparent #F30D31 #F30D31;
							}
						}

						&:hover{
							border-color: darken(#ACAFB2, 30%);
							box-shadow: 0 0 6px rgba(0,0,0,.2);
						}

						& > .red-price{
							float: none;
							margin-left: 10px;
						}
					}
					& >.select-body{
						width: 100%;
						z-index: 500;
						background: white;
						margin-top: -2px;
					}
					& label{
						display: flex;
						width: 100%;
						color: #ACAFB2;
					 	border: 1px solid #ACAFB2;
					 	cursor: pointer;
					 	user-select: none;
					 	position: relative;
					 	padding: 15px 24px;
						font-weight: bolder;
					  	color: #62686F;
					  	font-size: 18px;

					  	&:hover{
					  		background-color: rgba(172, 175, 178, .2);
					  	}

					  	& >input{
					  		opacity: 0;
					  		width: 0;
					  	}
					  	& .select-text{
					  		width: 100%;
					  	  	& > b{
						    	color: #000000;
						    	font-weight: bold;
						    	float: none;
						    	padding-right: 15px;
						    }
						    & > .red-price{
						    	color: #F30D31;
								font-weight: bold;
								float: right;
						    }
						}
					}
				}

				.invalid{
					display: none;
					color: #F30D31;
					margin-top: 5px;
					font-size: 12px;
					&.error{
						display: block;
					}
				}
				&:nth-of-type(2){
					margin: 0 32px; 
				}

				&.form-select-user{
					margin: 0;
				}
			}

			& .btn-submit{
				background: #F1F2F2;
				width: 100%;
				padding: 15px 5px 15px;
				& > button{
					border-radius: 3px;
					display: block;
					position: relative;
					overflow: hidden;
					background: transparent;
					margin-left: auto;
					
					& > span{
						border: 2px solid #F30D31;
						color: #F30D31;
						font-family: $Roboto_Condensed;
						font-weight: 600;
						font-size: 18px;
						padding: 10px;
						border-radius: 3px;
						position: relative;
						z-index: 5;
						transition:color 0s .2s;
						display: block;
					}
					
					&:before{
						content: '';
						position: absolute;
						width: 100%;
						height: 100%;
						background: #F30D31;
						left: 0;
						top: 100%;
						transition: .5s;
						z-index: 2;
					}
					&:hover{
						&:before{
							top: 0;
						}
						& > span{
							color: white;
						}
					}
				}
			}
		}
	}  
}

@media only screen and(min-width: 1130px) and (max-width: 1199px) {
	#personalAreaBox{
		#userArea-header{

			& > .row{
				flex-direction: column;
				justify-content: flex-start;
				align-items: flex-start;
			}

			& .personalAre-navbar{
				width: 100%;
				ul.row{
					width: 100%;
					& > li{
						width: 100%;
						& > a{
							width: 100%;
							padding-left: 0;
							padding-right: 0;
						}	
					}
				}
			}
		}
	}
}

// media
@media only screen and (min-width: 799px) and(max-width: 1000px ) {
	#personalAreaBox{
		#userArea-header{

			& > .row{
				flex-direction: column;
				justify-content: flex-start;
				align-items: flex-start;
			}

			& .personalAre-navbar{
				width: 100%;
				ul.row{
					width: 100%;
					& > li{
						width: 100%;
						& > a{
							width: 100%;
							padding-left: 0;
							padding-right: 0;
						}	
					}
				}
			}
		}
	}
}

@media only screen and(max-width: 799px) {
	#personalAreaBox{
		#userArea-header{

			& > .row{
				flex-direction: column;
				justify-content: flex-start;
				align-items: flex-start;
			}

			& .personalAre-navbar{
				width: 100%;
				ul.row{
					flex-direction: column;
					justify-content: flex-start;
					align-items: flex-start;
					& > li{
						width: 100%;
						& > a{
							padding: 8px 27px;
							text-align: left;

							border-bottom:1px solid rgba(98, 104, 111, .5) ;

							&.active{
								display: none;
							}
						}
						&:nth-of-type(2),
						&:nth-of-type(3){
							& > a{
								position: relative;
								&:before,
								&:after{
									display: none;
								}
							}
						}	
					}
				}

				.mobile-persNavbar{
					display: flex;
				}
			}

			& .col-pers > h1{
				display: none;
			}
		}
	}

	.alert{
		& > .row{
			& > .col-alert{
				& > p{
					font-size: 16px;
					padding: 0 10px;
				}
				& > .btn{
					transition: .5s;
					border: 0;
					padding: 0;
					border-radius: 0;
					&> span:first-of-type{
						display: none;
					}
					& > .close-icon{
						display: block;
					}
				}
				& >svg{
					width: 20.5px;
					height: 20.5px;
				}
			}
		}
	}

	.alert-warring{
		& .btn:hover{
			background:  transparent !important; 
			& svg>path{
				fill:#F30D31;
			}
		}
	}

	.alert-success{
		& .btn:hover{
			background:  transparent !important; 
			& svg>path{
				fill:#F30D31;
			}
		}
	}

	.alert-danger{
		& .btn:hover{
			background: transparent  !important; 
			& svg>path{
				fill:#F30D31;
			}
		}
	}

	.modal-danger-close{

		& >.row{

			& > .col{
				h2{
					font-size: 28px;
				}
			}
		}
	}

	#userSubscript{
		& > .sub-info{
			ul{
				li{
					padding: 13px 10px;
					justify-content: space-around;
					span{
						width: 60%;
					}
					&.sub-btn{
						text-align: right;
						padding: 12px 10px;
						background: #ffffff;
						justify-content: center;

						& > .btn-continue-sub{
							width: 100%;
						} 
					}
				}
			}
		}
	}

	.userData-body{
		form{
			> .form-group{
				background: white;
				padding: 6px 5px 0px;
				border-radius: 4px;
				box-shadow: 0 0px 5px rgba(229,230,230,.5);
				margin-bottom: 11px;

				.form-col-100{
					margin: 0 0px 14px;

					& > h4{
						font-size: 16px;
						color: #808080;
					}
				}

				& >.row{
					justify-content: space-between;
					padding: 0;
					flex-direction: column;
				}
				.form-col{
					max-width: 100%;
					width: 100%;
				}

				& .btn-submit{
					background: #ffffff;
					padding: 15px 0;
					& > button{
						width: 100%;
					}
				}
			}
		}  
	}
}